<md-dialog aria-label="Editar reservacion">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 600px">

      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form novalidate="" flex="60" >
          <md-input-container class="md-icon-float md-block" flex="55">
            <label>Cantidad de Personas</label>
            <md-icon class="md-primary md-raised">person</md-icon>
            <input type="number" required="true" ng-model="data.cantidadPersonas">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" >
            <label>Fecha y Hora de Salida</label>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
            placeholder="Fechay hora de Salida" short-time="true" min-date="date" ng-model="data.fechaHoraSalida" class=" md-input">
          </md-input-container>
          <md-input-container class="md-block" flex="55">
            <label>Estado de reservación</label>
            <input type="text" ng-model="data.estado">
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Hotel </label>
            <md-select ng-model="data.idHotel" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="hotel in hoteles" ng-value="hotel.idHotel">
                {{hotel.nombreHotel}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Destino</label>
            <md-select ng-model="data.destino" >
              <md-option ng-repeat="destino in destinos" ng-value="destino.idDestino">
                {{ destino.nombreDestino}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Choferes</label>
            <md-select ng-model="data.idChofer" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="chofer in choferes" ng-value="chofer.idChofer">
                {{chofer.nombreChofer}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Busetas</label>
            <md-select ng-model="data.placaBuseta" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="buseta in busetas" ng-value="buseta.placaBuseta">
                {{ buseta.marca + '( ' + buseta.modelo + ' )' }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Precio</label>
            <md-icon>attach_money </md-icon>
            <input type="number" ng-model="data.precio">
          </md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
