<md-dialog aria-label="Editar Cliente">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Insertar Información del Cliente</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 500px">

      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form novalidate="" flex="60" >
          <md-input-container class="md-icon-float md-block">
            <label>Identificación</label>
            <md-icon class="name">assignment_ind</md-icon>
            <input ng-model="data.idCliente" type="text" required ng-blur="buscarCliente()">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" >
            <label>Nombre</label>
            <md-icon class="name">person</md-icon>
            <input ng-model="data.nombreCliente" type="text" required ng-disabled="found">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" >
            <label>Teléfono</label>
            <md-icon class="name">phone</md-icon>
            <input ng-model="data.telefono" type="text" required ng-disabled="found">
          </md-input-container>
          <md-input-container class="md-block">
            <md-icon >email</md-icon>
            <input ng-model="data.correoCliente" type="email" placeholder="Email (required)" ng-required="true" ng-disabled="found">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" >
            <label>Número de Habitación</label>
            <md-icon class="name">local_hotel</md-icon>
            <input ng-model="data.numeroHabitacion" type="number" min="0" required>
          </md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
