<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<span> Reservaciones</span>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh </md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show = "vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon> search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
				<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarReservacion()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarReservacion()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
		<md-button ariaLabel="cambiarARealizado" ng-click="vm.cambiarARealizado()">
			<md-icon>done</md-icon>
			Cambiar a Realizado
		<md-button>
	</div>
 </md-toolbar>
<md-table-container>
	<table md-table md-row-select multiple="false" ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
				<th md-column>Número de Reservación</th>
				<th md-column>Nombre del cliente</th>
				<th md-column>Cantidad De Personas</th>
				<th md-column>Chofer Asignado</th>
				<th md-column>Buseta Asignada</th>
        <th md-column> Destino</th>
        <th md-column> Fecha y Hora de Salida</th>
        <th md-column> Precio</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row md-select="reservacion" md-select-id="id" md-auto-select ng-repeat="reservacion in vm.reservaciones">
				<td md-cell>{{reservacion.idReservacion}}</td>
				<td md-cell>{{reservacion.nombreCliente}}</td>
				<td md-cell>{{reservacion.cantidadPersonas}}</td>
				<td md-cell>{{reservacion.nombreChofer}}</td>
				<td md-cell>{{reservacion.marca + ' '+ reservacion.modelo }}</td>
        <td md-cell>{{reservacion.nombredestino}}</td>
        <td md-cell>{{reservacion.fechaHoraSalida | date:'medium'}}</td>
        <td md-cell>{{reservacion.precio | currency:"USD$" }}</td>

			</tr>
		</tbody>
	</table>

</md-table-container>
