<div layout="column" layout-align="center center" style="min-height: 500px" >
  <md-content >
    <div flex layout="row" style="min-width: 500px" >
      <form name="vm.reservacionForm" flex ng-submit="vm.registrarReservacion(vm.reservacion)" layout-margin novalidate autocomplete="off" layout-padding>
        <md-input-container class="md-icon-float" flex="55">
          <label>Cantidad de Personas</label>
          <md-icon class="md-primary md-raised">group_add</md-icon>
          <input type="number" required="true" ng-model="vm.reservacion.cantidadPersonas">
        </md-input-container>
        <a class="md-button" ng-click="vm.verficarCliente()">
          <md-icon class="md-primary md-raised">account_circle</md-icon>
          Informacion de cliente</a>
        <md-input-container class="md-icon-float md-block" >
          <label>Fecha y Hora de Salida</label>
          <md-icon class="md-primary md-raised">today</md-icon>
          <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
          placeholder="Fechay hora de Salida" short-time="true" min-date="date" ng-model="vm.reservacion.fechaHoraSalida" class=" md-input">
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label>Hotel </label>
          <md-icon class="md-primary md-raised">hotel</md-icon>
          <md-select ng-model="vm.reservacion.idHotel">
            <md-option ng-repeat="hotel in vm.hoteles" ng-value="hotel.idHotel">
              {{hotel.nombreHotel}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label>Destino</label>
          <md-icon class="md-primary md-raised">insert_photo</md-icon>
          <md-select ng-model="vm.reservacion.idDestino" flex="33">
            <md-option ng-repeat="destino in vm.destinos" ng-value="destino.idDestino">
              {{ destino.nombreDestino}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label>Choferes</label>
            <md-icon class="md-primary md-raised">perm_identity</md-icon>
          <md-select ng-model="vm.reservacion.idChofer">
            <md-option ng-repeat="chofer in vm.choferes" ng-value="chofer.idChofer">
              {{chofer.nombreChofer}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Busetas</label>
          <md-icon class="md-primary md-raised">directions_bus</md-icon>
          <md-select ng-model="vm.reservacion.placaBuseta">
            <md-option ng-repeat="buseta in vm.busetas" ng-value="buseta.placaBuseta">
              {{ buseta.marca + '( ' + buseta.modelo + ' )' }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label>Precio</label>
          <md-icon>attach_money </md-icon>
          <input type="number" ng-model="vm.reservacion.precio">
        </md-input-container>
        <!-- botones -->
        <md-button class="md-warn">
          <md-icon>close</md-icon>
        </md-button>
        <md-button class="md-primary" type="submit">
          <md-icon>done_all </md-icon>
        </md-button>
      </form>
    </div>
  </md-content>
</div>
