<div>
	<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="hotels nav">
		<md-nav-item md-nav-sref="reservaciones.nuevo">Nuevo</md-nav-item>
		<md-nav-item md-nav-sref="reservaciones.listar">Listar</md-nav-item>
	</md-nav-bar>
</div>
<div ui-view>

</div>
