<md-dialog aria-label="Editar Buseta">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 600px">

      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form name="vm.busetaForm" flex ng-submit="vm.insertarBuseta(vm.buseta)" novalidate autocomplete="off">
          <md-input-container class="md-icon-float md-block" >
            <label>Placa de Buseta</label>
            <md-icon class="name">description</md-icon>
            <input ng-model="data.placaBuseta" type="text" required disabled>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="80">
            <label>Capacidad de Personas</label>
            <md-icon class="name">people_outline</md-icon>
            <input ng-model="data.capacidadPersonas" min="0" type="number" required >
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="80">
            <label>Marca</label>
            <md-icon class="name">directions_bus</md-icon>
            <input ng-model="data.marca" type="text" required>
          </md-input-container>
          <md-input-container class="md-block" flex="80">
            <label> Modelo</label>
            <input ng-model="data.modelo" type="text" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label> Año de Compra</label>
            <md-datepicker ng-model="data.annoCompra"> </md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Fecha vence RTV </label>
            <md-datepicker flex ng-model="data.fechaVenceRTV"> </md-datepicker>
          </md-input-container>
        </form>

      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
