<div >
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="busetas nav">
    <span flex="40"></span>
    <md-nav-item md-nav-sref="busetas.nuevo"> Nuevo </md-nav-item>
    <md-nav-item md-nav-sref="busetas.listar"> Listar </md-nav-item>
   </md-nav-bar>
</div>
<div ui-view>

</div>
