<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<span> Busetas</span>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh </md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show = "vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon> search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
				<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarChofer()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarChofer()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
	</div>
 </md-toolbar>
<md-table-container>
	<table md-table md-row-select multiple="false" ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
				<th md-column>Placa de Buseta</th>
				<th md-column>Capacidad</th>
				<th md-column>Marca</th>
				<th md-column>Modelo</th>
				<th md-column>Año de Compra</th>
        <th md-column>Fecha Vence RTV</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row md-select="buseta" md-select-id="id" md-auto-select ng-repeat="buseta in vm.busetas">
				<td md-cell>{{buseta.placaBuseta}}</td>
				<td md-cell>{{buseta.capacidadPersonas}}</td>
				<td md-cell>{{buseta.marca}}</td>
				<td md-cell>{{buseta.modelo}}</td>
				<td md-cell>{{buseta.annoCompra | date:'mediumDate' }}</td>
        <td md-cell>{{buseta.fechaVenceRTV | date:'mediumDate' }}</td>
			</tr>
		</tbody>
	</table>

</md-table-container>
