<div  layout="column"  layout-align="center center" style="min-height: 500px">

  <md-content >
    <div flex layout="row" style="min-width: 500px">
      <form name="vm.busetaForm" flex ng-submit="vm.insertarBuseta(vm.buseta)" novalidate autocomplete="off">
        <md-input-container class="md-icon-float md-block" flex="80">
          <label>Placa de Buseta</label>
          <md-icon class="name">description</md-icon>
          <input ng-model="vm.buseta.placaBuseta" type="text" required>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" flex="80">
          <label>Capacidad de Personas</label>
          <md-icon class="name">people_outline</md-icon>
          <input ng-model="vm.buseta.capacidadPersonas" min="0" type="number" required >
        </md-input-container>
        <md-input-container class="md-icon-float md-block" flex="80">
          <label>Marca</label>
          <md-icon class="name">directions_bus</md-icon>
          <input ng-model="vm.buseta.marca" type="text" required>
        </md-input-container>
        <md-input-container class="md-block" flex="80">
          <label> Modelo</label>
          <input ng-model="vm.buseta.modelo" type="text" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label> Año de Compra</label>
          <md-datepicker ng-model="vm.buseta.annoCompra"> </md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Fecha vence RTV </label>
          <md-datepicker flex ng-model="vm.buseta.fechaVenceRTV"> </md-datepicker>
        </md-input-container>

        <md-button class="md-warn">
          <md-icon>close</md-icon>
        </md-button>
        <md-button class="md-primary" type="submit">
          <md-icon>done_all </md-icon>
        </md-button>
      </form>
    </div>
  </md-content>
</div>
