
<!-- /* aqui en el home tendria que ir un login */  -->
<div style="heigth:100px" layout="column" layout-align="center center" layout-fill="layout-fill" >
  <div style="width:600px"  layout="column" class=" md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Login</span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <form ng-submit="vm.iniciarSesion()">
        <md-input-container class="md-block">
          <label>Usuario</label>
          <input type="text" ng-model="vm.usuario.username"/>
        </md-input-container>
        <md-input-container>
          <label>Contraseña</label>
          <input type="password" ng-model="vm.usuario.password"/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button type ="submit"class="md-raised md-primary">Login</md-button>
          <div flex="flex"></div>
        </div>
      </form>
    </md-content>
  </div>
</div>
