<div ng-controller="NavController">
  <md-toolbar layout="row" class="md-whiteframe-5" style="padding:0px;margin:0px;" layout-margin>

    <h2>Transportes LAR</h2>
    <div class="row" flex>

    </div>
    <md-menu-bar ng-show="showNav">
      <md-menu>
        <button ng-click="$mdOpenMenu()">Reservaciones</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="reservaciones.nuevo" > Registrar una Reservación </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="reservaciones.listar">Lista de Reservaciones </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()"> Viajes Realizados</button>
        <md-menu-content>
          <md-menu-item>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="viajes.listar">Lista de viajes Realizados </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">Chofer</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="chofer.nuevo" > Registrar un nuevo Chofer </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="chofer.listar">Lista de choferes </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">Busetas</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="busetas.nuevo"> Registrar una Buseta </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="busetas.listar">Lista de Busetas </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">Hoteles</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="hoteles.nuevo"> Registrar un Hotel </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="hoteles.listar">Lista de Hoteles </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">Destinos</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="destino.nuevo"> Registrar un Destino </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="destino.listar">Lista de Destinos </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">Clientes</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="clientes.nuevo"> Registrar un cliente </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="clientes.listar">Lista de Clientes </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">OPciones</button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="crearRespaldo()">Crear Respaldo de la Base de Datos</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="home">Salir</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </md-toolbar>

</div>
