<md-dialog aria-label="Vaije Realizado">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Viaje Realizado </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 400px">
      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form novalidate="" flex="60" >
          <md-input-container class="md-block">
            <label>Número de Reserva</label>
            <input type="text" disabled ng-model="data.idReservacion">
          </md-input-container>
          <md-input-container class="md-block">
            <md-select ng-model="data.tipoDePago">
              <md-option ng-repeat="tipoDePago in tipoDePagos" ng-value="tipoDePago">
                {{tipoDePago}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Fecha y Hora de llegada</label>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
            placeholder="Fechay hora de Salida" short-time="true" min-date="date" ng-model="data.fechaHoraLlegada" class=" md-input">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Kilometraje de Salida</label>
            <input type="text" ng-model="data.kilometrajeSalida">
          </md-input-container>
          <md-input-container class="md-block">
            <label> Kilometraje de Llegada</label>
            <input type="text" ng-model="data.kilometrajeLlegada">
          </md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
