<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<span> Viajes Realizados</span>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh </md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show = "vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon> search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
				<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarViaje()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarViaje()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
	</div>
 </md-toolbar>
<md-table-container>
	<table md-table md-row-select multiple="false" ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
        <th md-column>Chofer Asignado</th>
        <th md-column>Buseta Asignada</th>
        <th md-column>Marca</th>
        <th md-column> Destino</th>
        <th md-column> Fecha y Hora de Salida</th>
				<th md-column>Fecha y Hora de Llegada</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row md-select="viaje" md-select-id="id" md-auto-select ng-repeat="viaje in vm.viajes">
				<td md-cell>{{viaje.nombreChofer}}</td>
				<td md-cell>{{viaje.placaBuseta}}</td>
				<td md-cell>{{viaje.marca}}</td>
				<td md-cell>{{viaje.nombredestino}}</td>
        <td md-cell>{{viaje.fechaHoraSalida | date:'medium'}}</td>
        <td md-cell>{{viaje.fechaHoraLlegada | date:'medium'}}</td>
			</tr>
		</tbody>
	</table>

</md-table-container>
