<md-dialog aria-label="Editar Chofer">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 400px">

      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form novalidate="" flex="60" >
          <md-input-container class="md-icon-float md-block">
            <label>Nombre de Destino</label>
            <md-icon class="md-primary md-raised">terrain</md-icon>
            <input type="text" ng-model="data.nombreDestino" ng-required="true">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Horas Aproximadas</label>
            <md-icon class="md-primary md-raised">timer</md-icon>
            <input type="number" required="true" ng-model="data.horaAprox">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Kilometros Aproximados</label>
            <md-icon class="md-primary md-raised">place</md-icon>
            <input type="number" required="true" ng-model="data.kilometrosAprox">
          </md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
