<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<spam>Destinos</spam>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon>search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show="vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon>search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
			<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar" ng-model="chofer.nombre" ng-keypress="vm.buscar(chofer)">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon>close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarDestino()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarDestino()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
	</div>
 </md-toolbar>
<md-table-container ng-hide="vm.showSearch">
	<table md-table md-row-select multiple="false"ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
				<th md-column>Nombre de Destino</th>
				<th md-column>Hora Apróximada</th>
				<th md-column>Kilómetros</th>
		</thead>
  </tr>
		<tbody md-body>
			<tr md-row md-select="destino" md-select-id="id" md-auto-select ng-repeat="destino in vm.destinos">
				<td md-cell>{{destino.nombreDestino}}</td>
				<td md-cell>{{destino.horaAprox +'H'}}</td>
				<td md-cell>{{destino.kilometrosAprox +' KM'}}</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
