<div layout="column" layout-align="center center" style="min-height: 500px">
	<md-content>
		<div flex layout="row" style="min-width: 500px">
			<form action="" name="vm.destinoForm" flex ng-submit="vm.registrarDestino(vm.destino)">
				<md-input-container class="md-icon-float md-block">
					<label>Nombre de Destino</label>
					<md-icon class="md-primary md-raised">terrain</md-icon>
					<input type="text" ng-model="vm.destino.nombredestino" ng-required="true">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Horas Aproximadas</label>
					<md-icon class="md-primary md-raised">timer</md-icon>
					<input type="number" required="true" ng-model="vm.destino.horaAprox">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Kilometros Aproximados</label>
					<md-icon class="md-primary md-raised">place</md-icon>
					<input type="number" required="true" ng-model="vm.destino.kilometrosAprox">
        </md-input-container>

				<md-button class="md-warn">
					<md-icon>close</md-icon>
				</md-button>
				<md-button class="md-primary" type="submit">
					<md-icon>done_all </md-icon>
				</md-button>
			</form>
		</div>
	</md-content>
</div>
