<div layout="column" layout-align="center center" style="min-height: 500px">
	<md-content>
		<div flex layout="row" style="min-width: 500px">
			<form name="vm.hotelForm" flex ng-submit="vm.registrar(vm.hotel)" novalidate autocomplete="off">
				<md-input-container class="md-icon-float md-block">
					<label>Nombre</label>
					<md-icon class="md-primary md-raised">person</md-icon>
					<input type="text" required="true" ng-model="vm.hotel.nombreHotel">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Ciudad</label>
					<md-icon class="md-primary md-raised">phone</md-icon>
					<input type="text" required="true" ng-model="vm.hotel.ciudad">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Dirección</label>
					<md-icon class="md-primary md-raised">home</md-icon>
					<input type="text" required="true" ng-model="vm.hotel.direccion">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Telefono</label>
					<md-icon class="md-primary md-raised">license</md-icon>
					<input type="text" required="true" ng-model="vm.hotel.telefono">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Correo</label>
					<md-icon class="md-primary md-raised">license</md-icon>
					<input type="text" required="true" ng-model="vm.hotel.correoHotel">
				</md-input-container>
				<md-button class="md-warn">
					<md-icon>close</md-icon>
				</md-button>
				<md-button class="md-primary" type="submit">
					<md-icon>done_all </md-icon>
				</md-button>
			</form>
		</div>
	</md-content>
</div>


