<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<span> Clientes</span>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh </md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show = "vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon> search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
				<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon> close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarCliente()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarCliente()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
	</div>
 </md-toolbar>
<md-table-container>
	<table md-table md-row-select multiple="false" ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
				<th md-column>ID del cliente</th>
				<th md-column>Nombre del cliente</th>
				<th md-column>Telefono del cliente</th>
				<th md-column>Habitacion del cliente</th>
				<th md-column>Correo del cliente</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row md-select="cliente" md-select-id="id" md-auto-select ng-repeat="cliente in vm.clientes">
				<td md-cell>{{cliente.idCliente}}</td>
				<td md-cell>{{cliente.nombreCliente}}</td>
				<td md-cell>{{cliente.telefono}}</td>
				<td md-cell>{{cliente.numeroHabitacion}}</td>
				<td md-cell>{{cliente.correoCliente}}</td>
			</tr>
		</tbody>
	</table>

</md-table-container>
