<div  layout="column"  layout-align="center center" style="min-height: 500px">

  <md-content >
    <div flex layout="row" style="min-width: 500px">
      <form name="vm.clientForm" flex ng-submit="vm.insertarCliente(vm.cliente)" novalidate autocomplete="off">
        <md-input-container class="md-icon-float md-block">
          <label>Identificación</label>
          <md-icon class="name">assignment_ind</md-icon>
          <input ng-model="vm.cliente.idCliente" type="text" required>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" >
          <label>Nombre</label>
          <md-icon class="name">person</md-icon>
          <input ng-model="vm.cliente.nombreCliente" type="text" required>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" >
          <label>Teléfono</label>
          <md-icon class="name">phone</md-icon>
          <input ng-model="vm.cliente.telefono" type="text" required>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon >email</md-icon>
          <input ng-model="vm.cliente.correoCliente" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>
        <md-button class="md-warn">
          <md-icon>close</md-icon>
        </md-button>
        <md-button class="md-primary" type="submit">
          <md-icon>done_all </md-icon>
        </md-button>
      </form>
    </div>
  </md-content>

</div>
