<md-dialog aria-label="Editar Chofer">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon  aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div  layout="column" flex   style="min-height: 400px">

      <div flex layout="row" style="min-width: 600px" layout-align="center center">
        <form novalidate="" flex="60" >
          <md-input-container class="md-icon-float md-block">
  					<label>ID</label>
  					<md-icon class="md-primary md-raised">chrome_reader_mode</md-icon>
  					<input type="text" ng-model="data.idChofer" ng-required="true">
  				</md-input-container>
  				<md-input-container class="md-icon-float md-block">
  					<label>Nombre</label>
  					<md-icon class="md-primary md-raised">person</md-icon>
  					<input type="text" required="true" ng-model="data.nombreChofer">
  				</md-input-container>
  				<md-input-container class="md-icon-float md-block">
  					<label>Telefono</label>
  					<md-icon class="md-primary md-raised">phone</md-icon>
  					<input type="text" required="true" ng-model="data.telefono">
  				</md-input-container>
  				<md-input-container class="md-icon-float md-block">
  					<label>Dirección</label>
  					<md-icon class="md-primary md-raised">home</md-icon>
  					<input type="text" required="true" ng-model="data.direccion">
  				</md-input-container>
  				<md-input-container class="md-icon-float md-block">
  					<label>Tipo de licencia</label>
  					<md-icon class="md-primary md-raised">license</md-icon>
  					<input type="text" required="true" ng-model="data.tipoLicencia">
  				</md-input-container>
  				<md-input-container class="md-icon-float md-block">
  					<label>Fecha que se vence la licencia</label>
  					<md-icon class="md-primary md-raised">calendar</md-icon>
  					<md-datepicker ng-model="data.fechaVenceLicencia" required> </md-datepicker>
  				</md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">
      <md-icon> close</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="editar(data)">
      <md-icon>done_all</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
