<div>
	<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="chofers nav">
		<md-nav-item md-nav-sref="chofer.nuevo">Nuevo</md-nav-item>
		<md-nav-item md-nav-sref="chofer.listar">Listar</md-nav-item>
	</md-nav-bar>
</div>

<div ui-view>

</div>
