<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-hide="vm.showSearch || vm.selected.length">
	<div class="md-toolbar-tools">
		<spam>Chofer</spam>
		<div flex></div>
		<md-button class="md-icon-button">
			<md-icon>refresh</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon>search</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default check-element animate-show" ng-show="vm.showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon>search</md-icon>
		</md-button>
		<form flex class="ng-valid flex ng-valid-parse ng-pristine">
			<input type="text" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false" placeholder="Buscar" ng-keypress="vm.buscar(chofer)">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
			<md-icon>close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar layout="row" class="md-table-toolbar md-default check-element" ng-show="vm.selected.length" layout-padding>
	<span flex="66"></span>
	<div class="md-toolbar-tools">
		<md-button ng-click="vm.eliminarChofer()">
			<md-icon> delete_forever</md-icon>
			Eliminar
		</md-button>
		<md-button class="" ng-click="vm.editarChofer()">
			<md-icon> content_paste</md-icon>
			Editar
		</md-button>
	</div>
 </md-toolbar>
<md-table-container ng-hide="vm.showSearch">
	<table md-table md-row-select multiple="false"ng-model="vm.selected">
		<thead md-head>
			<tr md-row>
				<th md-column>ID</th>
				<th md-column>Nombre</th>
				<th md-column>Telefono</th>
				<th md-column>Direccion</th>
				<th md-column>Tipo de licencia</th>
				<th md-column>Fecha que se vence</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row md-select="chofer" md-select-id="id" md-auto-select ng-repeat="chofer in vm.choferes">
				<td md-cell>{{chofer.idChofer}}</td>
				<td md-cell>{{chofer.nombreChofer}}</td>
				<td md-cell>{{chofer.telefono}}</td>
				<td md-cell>{{chofer.direccion}}</td>
				<td md-cell>{{chofer.tipoLicencia}}</td>
				<td md-cell>{{chofer.fechaVenceLicencia | date:'mediumDate'}}</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
