<div layout="column" layout-align="center center" style="min-height: 500px">
	<md-content>
		<div flex layout="row" style="min-width: 500px">
			<form name="vm.choferForm" flex ng-submit="vm.registrar(vm.chofer)" novalidate autocomplete="off">
				<md-input-container class="md-icon-float md-block">
					<label>ID</label>
					<md-icon class="md-primary md-raised">chrome_reader_mode</md-icon>
					<input type="text" ng-model="vm.chofer.idChofer" ng-required="true">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Nombre</label>
					<md-icon class="md-primary md-raised">person</md-icon>
					<input type="text" required="true" ng-model="vm.chofer.nombreChofer">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Telefono</label>
					<md-icon class="md-primary md-raised">phone</md-icon>
					<input type="text" required="true" ng-model="vm.chofer.telefono">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Dirección</label>
					<md-icon class="md-primary md-raised">home</md-icon>
					<input type="text" required="true" ng-model="vm.chofer.direccion">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Tipo de licencia</label>
					<md-icon class="md-primary md-raised">license</md-icon>
					<input type="text" required="true" ng-model="vm.chofer.tipoLicencia">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Fecha que se vence la licencia</label>
					<md-icon class="md-primary md-raised">calendar</md-icon>
					<md-datepicker ng-model="vm.chofer.fechaVenceLicencia" required> </md-datepicker>
				</md-input-container>
				<md-button class="md-warn">
					<md-icon>close</md-icon>
				</md-button>
				<md-button class="md-primary" type="submit">
					<md-icon>done_all </md-icon>
				</md-button>
			</form>
		</div>
	</md-content>
</div>
